
.account-form-div {
  position: "flex";
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.forms-in {
  margin: 5% 35% 5% 35%;
  border-radius: 10%;
  position: "flex";
  justify-content: center;
}
