.signInForm {
  margin-left: 40%;
  width: 305px;
  margin-bottom: 2%;
  .signInBtn {
    margin-left: 40%;
  }
  .titleSignIn {
    margin-left: 25%;
  }
  #email-form,
  #password-form {
    width: 305px;
  }
}
