.header {
  background-color: #3F51B5;
}

.header .title {
  margin-left: 40%;
  font-size: xx-large;
}





.costum-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #3f51b5;
  color: white;
  text-align: center;
}

.account-form-div {
  position: "flex";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.forms-in {
  margin: 5% 35% 5% 35%;
  border-radius: 10%;
  position: "flex";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signInForm {
  margin-left: 40%;
  width: 305px;
  margin-bottom: 2%;
}

.signInForm .signInBtn {
  margin-left: 40%;
}

.signInForm .titleSignIn {
  margin-left: 25%;
}

.signInForm #email-form,
.signInForm #password-form {
  width: 305px;
}

.tableFriendsTitle {
  font-size: xx-large;
}

.flightsTable {
  margin-left: 20px;
  margin-top: 10px;
  border: 1px solid black;
}

.flightsTable .flightWrap:not(:last-child) {
  border-bottom: 1px dashed grey;
}

.flightsTable .flightReserveButton {
  margin: 10px;
}

.flightsTable .flightPresentRow {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flightsTable #flightLuggage {
  padding-left: 50px;
}

.flightsTable .flightItem {
  padding: 10px;
}

.flightsTable .flightItem .titleSeats {
  margin-left: 30%;
}

.flightsTable .flightItem:nth-child(2) {
  margin-left: 10px;
}

.flightsTable .flightsTableTitle {
  margin-left: 40%;
}

.flightSeats {
  white-space: nowrap;
}

.flightSeats .leftSideSeats {
  display: inline-block;
}

.flightSeats .rightSideSeats {
  display: inline-block;
  margin-left: 20px;
}

#luggageLabel {
  font-size: smaller;
}

.popover {
  z-index: 1201 !important;
}

.searchForm {
  margin-left: 10px;
  margin-top: 0px;
  max-width: 400px;
}

.searchForm .searchFormRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.searchForm .searchFormRow .searchFormCell {
  display: inline-block;
  width: 200px;
}

.searchForm .searchFormRow .searchFormCell:nth-child(2) {
  margin-left: 5px;
}

.searchForm .searchFormRow #ticketPrice {
  margin-top: 15px;
}

.searchForm .destinationSelect {
  max-width: 200px;
}

.searchForm #searchButton {
  width: 100%;
}

.modalButton {
  margin-bottom: 10px;
}

.flightTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.forms-in-cars {
  margin: 30px 30px 30px 30px;
  border-radius: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.car-image {
  margin: 30px 30px 30px 30px;
  height: 230px;
  width: 400px;
  border-radius: 20px;
}

.myTitle {
  margin-left: 40%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
 "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
 sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
#root{
  background-image:url("../siteBackground.jpg") ;
  background-position: center; /* Center the image */
  background-repeat: repeat-y; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 2000px; /* You must set a specified height */
  width: 100%;
  opacity: 1;
  background-attachment: fixed;
  color: white
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
 monospace;
}

.form-text-field {
  width: 400px;
}

h1, h2, h3, h4, h5, h6 {
  color: #3f51b5;;
  font-weight: bold;
  text-shadow: 2px 0 black, 1px 0px black, 3px 2px black, 0 1px black;
}
/*# sourceMappingURL=styles.css.map */