.flightsTable {
  margin-left: 20px;
  margin-top: 10px;

  border: 1px solid black;
  .flightWrap:not(:last-child) {
    border-bottom: 1px dashed grey;
  }
  .flightReserveButton {
    margin: 10px;
  }

  .flightPresentRow {
    white-space: nowrap;
    display: flex;
    align-items: center;
  }
  #flightLuggage {
    padding-left: 50px;
  }
  .flightItem {
    padding: 10px;

    .titleSeats {
      margin-left: 30%;
    }
  }
  .flightItem:nth-child(2) {
    margin-left: 10px;
  }
  .flightsTableTitle {
    margin-left: 40%;
  }
}
.flightSeats {
  white-space: nowrap;

  .leftSideSeats {
    display: inline-block;
  }
  .rightSideSeats {
    display: inline-block;
    margin-left: 20px;
  }
}
#luggageLabel {
  font-size: smaller;
}
