.header {
  .title {
    margin-left: 40%;
    font-size: xx-large;
  }
  .navigation {
    width: 100%;

    ul {
      list-style-type: none;
      display: flex;
      li {
        padding-left: 10px;
      }
    }
  }
}
