.App {
  text-align: center;
}

.costum-navbar{
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.costum-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #25159b;
  color: white;
  text-align: center;
}

body {
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}

.account-form-div{
  
  position: 'flex';
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5%;

}

.forms-in{
 /* margin: 5% 20% 5% 20%;*/
  border-radius: 10%;
  border: 2px solid black;
}

.form-text-field{
  margin: 1% 10% 1% 10%;
}

.form-text-field h1{
  width: 100%
}